body {
    background-color: rgb(54, 54, 54);
    color: rgb(193, 255, 252);
    font-family: Arial;
    margin: 0px;
}
a {
    text-decoration: none;
}
main {
    background-color: rgb(139, 139, 139);
    color: black;
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: black;
    color: gold;
    font-family: Arial;
    margin: 0px;
}
footer {
    background-color: azure;
    color: rebeccapurple;
    font-family: Arial;
    margin: 0px;
}