body {
    background-color: rgb(92, 91, 91);
    color: rgb(193, 255, 252);
    font-family: Arial;
    margin: 0px;
}
a {
    text-decoration: none;
    transition: 1s 2s;
}
main {
    color: black;
    font-family: Arial;
    margin: 10px 20px 28px;
    height: 0;
}
header {
    background-color: black;
    color: gold;
    font-family: Arial;
    margin: 0px;
}
footer {
    background-color: rgb(241, 241, 241);
    color: #FF8C00;
    font-family: Arial;
    padding: 5px;
    font-size: 12pt;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
a:link {
    color: #00BFFF;
    
}
a:visited {
    color: aquamarine;
}
a:hover {
    color: #7FFF00;
    text-decoration: underline;
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.3;
}
div.menu {
    border: 7px solid #6495ED90;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    background-color: rgb(78, 78, 78);
}
div.menu:hover {
    background-color: rgb(92, 91, 91);
    box-shadow: 0 0 15px #00BFFF;
}
h1.labs_zag {
    text-align: center;
    
}