body {
    background-color: rgb(54, 54, 54);
    color: rgb(193, 255, 252);
    font-family: Arial;
    margin: 0px;
}
a {
    text-decoration: none;
    transition: 1s 2s;
}
main {
    background-color: rgb(139, 139, 139);
    color: black;
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: black;
    color: gold;
    font-family: Arial;
    margin: 0px;
}
footer {
    background-color: azure;
    color: rebeccapurple;
    font-family: Arial;
    margin: 0px;
}
a:link {
    color: #00BFFF;
    
}
a:visited {
    color: aquamarine;
}
a:hover {
    color: #7FFF00;
    text-decoration: underline;
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.3;
}